.message{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left:2rem;
    margin-bottom: 2rem;
    padding: 5px;
}
.message.own{
    margin-left:22rem;
}

.messagetxt{
    overflow: auto;
    border:0.5px solid black;
    border-radius:50px;
    padding:12px;
    width:100%;
    font-size: 12px;
    font-weight:500;
    color:black;
    background-color: rgba(141, 137, 180, 0.815);
}

.message.own .messagetxt {
background-color: rgba(62, 49, 185, 0.815);
}

.timeago{
display: flex;
width:50%;
font-size: 10px;
color:black;
font-weight:300;
margin-left: 13rem;
}

@media only screen and (max-width: 768px) {
    .message{
        margin-left:2rem;
    }
    .message.own{
        margin-left:12rem;
    }

    .message.own .messagetxt{
        font-size: 15px;
    }

    .timeago{
        margin-left: 7rem;
        }
}